body {
  /* background-color: gray; */
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: 'Rubik Doodle Shadow', sans-serif;
	color: #99E1D9;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5d576b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fffae3' fill-opacity='0.27' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  letter-spacing: 1px;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  cursor: pointer;
  /* background-color: #5d576b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fffae3' fill-opacity='0.27' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
}

div {
  /* border: 1.5px solid #5D576B; */
  font-size: 7vmin;
  align-items: center;
  justify-content: center;
  margin: 3px;
  padding: 5px;
  display: flex;
}

.sqr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 20px;
  border-radius: 5px;
  color: #5D576B;
  background-color: #99E1D9;
  font-size: 24px;
  padding: 8px 12px;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold;
}

button:hover {
  color: #FFFAE3;
  background-color: #F7567C;
  cursor: pointer;
}

/* .left {
  border-left: 3px solid #5D576B;
}
.top {
  border-top: 3px solid #5D576B;
}
.right {
  border-right: 3px solid #5D576B;
}
.bottom {
  border-bottom: 3px solid #5D576B;
} */